html {
    font-family: 'Noto Serif', serif;
    font-family: 'Varela Round', sans-serif;
}

body {
    font-family: 'Noto Serif', serif;
}

h1, h2, h3 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

h1 {
    color: #FFF;
    margin: 0;
}

.wrapper {
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
    // border: 1px solid red;
}

.wrapper > h2 {
    margin: 2% 0 0 0;
}

header {
    background-color: #232323;
    height: 50vh;
}

.emoji-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% auto;
}

.emoji-image {
    width: 50px;
    margin: 0 5px;

    &:hover {
        filter: drop-shadow(0px 0px 5px #000);
        transition: 0.3s ease-in-out;
    }
}

.gallery {
    width: 100%;
    margin: 5% auto;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #232323;
    text-align: center;
    padding: 10px 0;

    p {
        color: #FFF;
    }
}