html {
    font-family: 'Noto Serif', serif;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: rgb(245, 243, 241);
    font-family: 'Noto Serif', serif;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    text-transform: lowercase;
}

h1 {
    color: #FFF;
    font-size: 3rem;
    margin: 0;
}


.wrapper {
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
    // border: 1px solid red;
}

header {
    height: 50vh;
}

/* Background animation styles */

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #F9D1B7 50%, #F894A4 50%);
    opacity:.5;
    position:absolute;
    top:0;
    right:-50%;
    bottom:0;
    left:-50%;
    z-index:-1;
    height: 50vh;
}
    
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
    height: 50vh;
}

.bg3 {
    animation-duration:5s;
    height: 50vh;
}

@keyframes slide {
    0% {
    transform:translateX(-25%);
    }
    100% {
    transform:translateX(25%);
    }
}

/* Header title styles */

.wrapper .introduction {
    display: flex;
    flex-direction: column;
}

.introduction {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 150px;
    text-align: center;

    p {
        color: #FFF;
        margin-top: 3%;
    }
}

/* Slider styles */

.switch {
    position: relative;
    top: 20px;
    left: 20px;
    display: inline-block;
    width: 60px;
    height: 34px;

    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;

    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Emoji styles */

.wrapper > h2 {
    margin: 2% 0 0 0;
}

.emoji-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% auto;
}

.emoji-image {
    width: 50px;
    margin: 0 5px;

    &:hover, &:focus {
        filter: drop-shadow(0px 0px 5px #000);
        transition: 0.3s ease-in-out;
    }
}

/* Orientation styles */

.orientation-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.5% auto;

    button {
        font-family: 'Noto Serif', serif;
        text-transform: lowercase;
        width: 120px;
        padding: 5px 15px;
        margin: 0 10px;

        &:hover, &:focus {
            border:v1px #000;
            transition: 0.5s ease-in-out;
        }
    }
}

/* Image gallery styles */

.gallery {
    width: 100%;
    margin: 5% auto;
    border: 1px solid #000;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 5%;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
}

/* Footer styles */

footer {
    background-color: #232323;
    text-align: center;
    padding: 10px 0;

    p {
        color: #FFF;
    }
}